<!DOCTYPE html>
<html lang="en">

<head>
    <title>Moni Akter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link rel="stylesheet" href="/style.css">
    <style>



    body {
            background-image: url('/images/project_bg2.PNG');
            background-repeat: no-repeat;
            background-size: cover;

        }



    </style>

</head>

<body>


    <nav class="navbar navbar-expand-md sticky-top nav-color">

        <a class="navbar-brand" href=""><img src="/images/logo3.PNG" height="46" width="50"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a id="tt" class="nav-link" href="index.html">HOME</a>
                </li>
                <li class="nav-item">
                    <a id="tt" class="nav-link" href="resume.html">RESUME</a>
                </li>
                <li class="nav-item">
                    <a id="tt" class="nav-link" href="projects.html">PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a id="tt" class="nav-link" href="experience.html">EXPERIENCE</a>
                </li>
                <li class="nav-item">
                    <a id="tt" class="nav-link" href="about.html">OTHER ACTIVITY</a>
                </li>
                <li class="nav-item">
                    <a id="tt" class="nav-link" href="contact.html">CONTACT</a>
                </li>

            </ul>
        </div>
    </nav>
    <!--********************************************************************************************************-->


    <div class="container-fluid">
        <div class="row">
            <div class="col left-color">
                <div class="container project-pad">

                    <div class="card project-card-color1" style="width:100%;height:50%">
                        <img class="card-img-top" src="/images/covid.PNG" alt="Card image"
                            style="width:100%;height:50%">
                        <div class="card-body">
                            <h3>
                                <i class="fa fa-laptop pd" style="font-size:40px;color:rgb(12, 81, 141)"></i>
                                Project 1:
                            </h3>
                            <P>
                                Project Title: Regional Covid-19-Tracking System.<br>A website to provide covid
                                information<BR>
                                Duration: 3 months.<BR>
                                Technologies Used: HTML,CSS,PHP,MySQL.
                            </p>
                            <div id="accordion">

                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                            <h5>Features:</h5>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                            <p>
                                                1. A database is maintained to keep the information and SQL is used to
                                                manipulate the stored
                                                data.<br>
                                                2. 3 types of user of this website:<br>
                                                Doctor<br>
                                                User<br>
                                                Admin<br>

                                                3. Doctors will be able to see patient overviews under his observation.
                                                Also he can search for
                                                overviews in his hospital.
                                                <br>4.
                                                User can find out there necessary information both by reading the static
                                                overview or can
                                                manually search for a result.
                                                <br>5.
                                                Admin can update, delete or insert data into the database.


                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <br>
                            <div class="btn-align">
                                <a href="https://github.com/moniakteriitju/Regional-Covid-Tracking-System" class="btn btn-outline-dark btn-align"><i
                                        class="fa fa-external-link pd" style="font-size:18px;color:blue;"></i>Details on GitHub
                                    </a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col right-color">
                <div class="container project-pad">

                    <div class="card project-card-color2" style="width:100%;height:50%">
                        <img class="card-img-top" src="/images/animal.png" alt="Card image"
                            style="width:100%;height:50%">
                        <div class="card-body">
                            <h3>
                                <i class="fa fa-laptop pd" style="font-size:40px;color:rgb(12, 81, 141)"></i>
                                Project 2:
                            </h3>
                            <P>
                                Project Title: Animal Care<br>A website to provide services to Animal lover<BR>
                                    Duration:  15 days.<BR>
                                    Technologies Used: HTML,CSS,PHP,MySQL.
                                
                            </p>
                            <div id="accordion">

                                <div class="card">
                                    <div class="card-header">
                                        <a class="card-link" data-toggle="collapse" href="#collapsetwo">
                                            <h5>Features:</h5>


                                        </a>
                                    </div>
                                    <div id="collapsetwo" class="collapse show" data-parent="#accordion">
                                        <div class="card-body">
                                             <p>
                        1.Doctors can register and log into the website.<br>

                        2. Members who are interested can register and log into the website.<br>

                        3. Admin panel will manage all data in the back end.<br>
                        4. Logging in as a member, a person can perform the following task:<br>

                        - Can see all previous help-seeking posts.<br>
                        - Can create new help-seeking posts.<br>
                        - Can visit his/her own profile.<br>
                        - Can edit his/her profile.<br>
                        - Can upload profile picture.<br>
                        - Can write comment and see other members comments.<br>
                        - Can see previous activity.<br>
                        - Can search available doctors info.<br>

                        5. Doctor Activities in our website:<br>

                        - Can see on profile.<br>
                        - Can edit profile.<br>
                        - upload profile picture.<br>
                        - Can visit homepage and see posts.<br>

                        6. Admin Activities in our website:<br>


                        - Can delete any data from the website.<br>
                        - Manage access to the website.<br>
                        - Can change his password.<br>
                        - Can register new admins.<br>
                        - Can delete any post from the home page.<br>
                        - Can restrict the access of any member. <br>





                    </p>
                                              
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <br>
                            <div class="btn-align">
                                <a href="https://github.com/moniakteriitju/Animal-Care" class="btn btn-outline-dark btn-align"><i
                                        class="fa fa-external-link pd" style="font-size:18px;color:blue;"></i>
                                    Details on GitHub</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>











                </div>

        </div>
    </div>





    <!--**********************************************************************************************************-->
       

    <!--*************************************************************************************-->





































</body>

</html>