<!DOCTYPE html>
<html lang="en">

<head>
    <title>Moni Akter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <link rel="stylesheet" href="/style.css">
    <style>
        body {
            background-image: url('/images/R_BG_1.PNG');
            background-repeat: no-repeat;
            background-size: cover;

        }
        p{
            font-weight: lighter;
        }
    </style>


</head>

<body>


    <nav class="navbar navbar-expand-md sticky-top nav-color">

        <a class="navbar-brand" href=""><img src="/images/logo3.PNG" height="46" width="50"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav navbar-right">
                <li class="nav-item">
                    <a id="tt" class="nav-link" href="index.html">HOME</a>
                </li>
                <li class="nav-item">
                    <a id="tt" class="nav-link" href="resume.html">RESUME</a>
                </li>
                <li class="nav-item">
                    <a id="tt" class="nav-link" href="projects.html">PROJECTS</a>
                </li>
                <li class="nav-item">
                    <a id="tt" class="nav-link" href="experience.html">EXPERIENCE</a>
                </li>
                <li class="nav-item">
                    <a id="tt" class="nav-link" href="about.html">OTHER ACTIVITY</a>
                </li>
                <li class="nav-item">
                    <a id="tt" class="nav-link" href="contact.html">CONTACT</a>
                </li>

            </ul>
        </div>
    </nav>
    <br>

    <div class="container-fluid align-div">
        <div class="row">
            <div class="col-6 col-sm-4 resume-left-color">
                <div class="inner-div">

                    <br>
                    <img src="/images/myimage2.PNG" class="rounded-circle" alt="moni akter" height="180" width="180">
                    <br>
                    <h6>Moni Akter</h6>

                    <h5 class="hh4"> ABOUT ME</h5>
                    <p> Hard-working, able to work with other people in a team, by fostering relationships in a
                        professional manner
                        good at problem solving.Welcome new challanges specially if they involve implementing and
                        developing scheme.
                    </p>
                    <br><br>
                    <h5 class="hh4">CONTACT</h5>
                    <p><i class="fa fa-map-marker" style="font-size:18px;color:white">
                        </i>
                        Jahangirnagar University<br>Jahanara
                        Imam Hall,<br>
                        Room-112/B,Dhaka-1342
                    </p>
                    <p> <i class="fa fa-envelope pd" style="font-size:18px;color:white;"></i>moniju582@gmail.com</p>
                    <p><i class="fa fa-phone" style="font-size:18px;color:white"></i>01707-962937</p>




                </div>
                <div class="container">

                    <H6>General Skills:</H6>
                    Problem Solving
                    <div class="progress" style="height:12px">
                      
                      <div class="progress-bar p-bar3" style="width:75%">75%</div>
                    </div>
                    Team Work
                    <div class="progress" style="height:12px">
                      
                      <div class="progress-bar  p-bar3" style="width:80%">80%</div>
                    </div>
                    Time Management
                    <div class="progress" style="height:12px">
                      
                      <div class="progress-bar  p-bar3" style="width:95%">95%</div>
                    </div>
                </div>
                <br>
            </div>

            <div class="col-6 col-sm-8 resume-right-color">
                <img src="/images/BG10.PNG" width="560" height="100"><br><br>
                <p class="fa fa-graduation-cap" style="font-size:25px;">EDUCATION</p><br>

                <div class="container tb">
                    <div class="table-responsive">
                        <table class="table">

                            <tbody>
                                <tr>
                                    <td>
                                        <H5 class="hh5">Bachelor of Science (B.Sc):</H5>
                                    </td>

                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td>Current Semester:<br>Institute:<br><br>University:</td>

                                    <td>3rd Year 2nd semester<br>Information Technology<br>Jahangirnagar University</td>
                                </tr>







                                <tr>
                                    <td>
                                        <H5 class="hh5">Secondary School Certificate:</H5>
                                    </td>

                                    <td><br></td>
                                </tr>
                                <tr>
                                    <td>Exam Name:<br>Board:<br>Passing Year:<br>GPA:</td>

                                    <td>SSC<br>Barishal<br>2015<br>5.00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <H5 class="hh5">Higher Secondary Examination:</H5>
                                    </td>

                                    <td><br></td>
                                </tr>
                                <tr>

                                    <td>Exam Name:<br>Board:<br>Passing Year:<br>GPA:</td>

                                    <td>HSC<br>Barishal<br>2017<br>5.00</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="container">
                        <h5>
                            <i class="fa fa-laptop pd" style="font-size:40px;color:blue"></i>
                            <b style="color:blue">Projects:</b></h5> <br>
                            1. Regional Covid-tracking System using HTML,CSS and PHP<br>
                            2. Animal care (A website to help Animal lover)
                        
                    </div>

                </div>




                <!--***************************************************************************************-->
                










            </div>

        </div>


    </div>











</body>

</html>